<h1>User Profiles</h1>

<a href="<%= new_user_url %>">Sign Up Page</a>

<ul>
  <% @users.each do |user| %>
    <li>
      <a href="<%= user_url(user)%>"><%= user.username %></a>
    </li>
  <% end %>

</ul>